<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    </head>
    <body>
        <!--        <table>-->
        <!--            <tr th:fragment="view">-->
        <div th:fragment="view"> 
            <div>
                <h4>Edit movie</h4>
                <hr></hr>
            </div>
            <form th:action="@{/{id}/edit(id=${m.id})}" method="post" th:object="${movie}" class="form-horizontal form-edit">

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name: </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" name="name" th:value="${m.name}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description: </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="description" name="description" th:value="${m.description}"/><br/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">Image: </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="image" name="image" th:value="${m.image}" /><br/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Actors: </label>
                    <div class="col-sm-5">
                        <ul class="list-unstyled">
                            <li th:each="a : ${allActors}">
                                <input type="checkbox" name="actors" th:value="${a.id}" th:checked="(${#lists.contains(m.actors, a)}) ? true"/>
                                <label th:text="${a.firstName} + ' ' + ${a.lastName}" ></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Genres: </label>
                    <div class="col-sm-5">
                        <ul class="list-unstyled">
                            <li th:each="g : ${allGenres}">
                                <input type="checkbox" name="genres" th:value="${g.id}" th:checked="(${#lists.contains(m.genres, g)}) ? true" />
                                <label th:text="${g.name}" ></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Add movie" class="btn btn-default" />
                    </div>
                </div>

            </form>
        </div>
        <!--                
                    </tr>
                </table>-->
    </body>
</html>
